.btn2{
    background-color: rgb(245, 94, 94);
    border-radius: 10px;
    margin-top: 4px;
    border: 2px solid rgb(70, 66, 66);
    border: 1px solid;
    height: 40px;
    color: white;
    font-weight: bold;
}