.main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 700px;
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f7eeee;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
